.container {
  width: 300px;
  margin: 0 auto;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-list > li {
  margin-top: 5px;
}

.todo-list > li > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-btn {
  margin-left: 5px;
}
