<div>

  <nav>
    <div class="nav-wrapper blue">
      <ul id="nav-mobile" class="left">
        <li>
          <a (click)="toggleSidenav()">Toggle</a>
        </li>
        <li><a [routerLink]="'todo'">To-Do List</a></li>
        <li><a [routerLink]="'completed'">Completed</a></li>
        <li><a [routerLink]="'deleted'">Deleted</a></li>
      </ul>
    </div>
  </nav>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
      <ul>
        <li><a mat-list-item [routerLink]="'todo'">To-Do List</a></li>
        <li><a mat-list-item [routerLink]="'completed'">Completed</a></li>
        <li><a mat-list-item [routerLink]="'deleted'">Deleted</a></li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
